      body {
          background-color: navajowhite;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: ghostwhite;
      }
      
      .btn {
          color: tomato;
          font-size: 1.3rem;
      }
      
      .modal-body {
          background: navajowhite;
          color: black;
      }
      
      .modal-footer {
          background: darkcyan;
      }
      
      .modal-header {
          background: darkcyan;
          color: ghostwhite;
      }
      
      header {
          font-size: 4rem;
          color: coral;
          text-align: center;
          padding: 10px auto 30px;
          margin-bottom: 20px;
      }
      
      .fruit-con {
          text-align: center;
      }
      
      .fruit-img {
          justify-content: center;
          width: 260px;
          height: 250px;
          cursor: pointer;
          border: solid;
          border-color: rgb(0, 0, 0);
          align-self: center;
          padding: 0;
      }
      
      .fruits-button {
          display: inline;
      }
      
      #score-number {
          font-size: 3vw;
      }
      
      .score-boxes {
          width: 240px;
          height: 400px;
          padding: 0;
          font-size: 2rem;
          float: left;
          text-align: center;
          justify-content: space-around;
      }
      
      #random-area {
          background-color: tomato;
          padding: 65px;
      }
      
      #win-area {
          background-color: indianred;
          padding: 50px;
      }
      
      #score-area {
          background-color: darkcyan;
          padding: 45px;
      }
      /* //////////////////////////////////////////////////////////////// responsive ////////////////////////////////////////////////////////////////////////////////////////// */
      /* // Extra small devices (portrait phones, less than 576px) */
      
      @media (max-width: 575.98px) {
          .fruit-img {
              width: 170px;
              height: 135px;
              margin: 0;
          }
          .score-boxes {
              width: 215px;
              height: 175px;
              margin: 0;
              /* font-size: 25px; */
          }
          #random-area {
              padding: 25px;
          }
          #win-area {
              padding: 0px;
          }
      }
      /* // Small devices (landscape phones, 576px and up) */
      
      @media (min-width: 576px) and (max-width: 767.98px) {}
      /* // Medium devices (tablets, 768px and up) */
      
      @media (min-width: 768px) and (max-width: 991.98px) {
          .score-boxes {
              width: 200px;
              height: 300px;
          }
      }
      /* // Large devices (desktops, 992px and up) */
      
      @media (min-width: 992px) and (max-width: 1199.98px) {
          .score-boxes {
              width: 200px;
          }
      }
      /* // Extra large devices (large desktops, 1200px and up) */
      
      @media (min-width: 1200px) {}