      body {
          background-color: navajowhite;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          color: ghostwhite;
      }
      
      .btn {
          color: tomato;
          font-size: 1.3rem;
      }
      
      .modal-body {
          background: navajowhite;
          color: black;
      }
      
      .modal-footer {
          background: darkcyan;
      }
      
      .modal-header {
          background: darkcyan;
          color: ghostwhite;
      }
      
      header {
          font-size: 4rem;
          color: coral;
          text-align: center;
          padding: 20px auto 30px;
          margin-bottom: 30px;
      }
      
      .fruit-con {
          text-align: center;
      }
      
      .fruit-img {
          justify-content: center;
          width: 260px;
          height: 250px;
          cursor: pointer;
          border: solid;
          border-color: rgb(0, 0, 0);
          align-self: center;
          padding: 0;
      }
      
      .fruits-button {
          display: inline;
      }
      
      #score-number {
          font-size: 3vw;
      }
      
      .score-boxes {
          width: 240px;
          height: 230px;
          padding: 0;
          font-size: 2vw;
          float: left;
          text-align: center;
          justify-content: space-around;
      }
      
      #random-area {
          background-color: tomato;
          padding: 45px;
      }
      
      #win-area {
          background-color: indianred;
          padding: 20px;
      }
      
      #score-title {
          background-color: mediumspringgreen;
          height: 50px;
      }
      
      #score-area {
          background-color: darkcyan;
          height: 180px;
          padding: 40px;
      }